.main-container{
    min-height: 100vh;
    min-width: 100vw;
    border: solid 1px black;
}

.header{
    border: solid 1px black;
}

.card-container{
    display: flex;
    flex-direction: row;
}

.card{
    border: solid 1px black;
    height: 2rem;
    flex: 1;
}